body {
   background: url(../image/radharani.jpg);
   background-size: cover;
   background-position: fixed;
}
h1{
    color: rgb(48, 60, 47)
}

p{
    color: rgb(118, 45, 255);
}

#heading{
    color: blue;
}