header {
    background-color: aqua;
    border: 5px solid black;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
}

#image{
    height: 300px;
    width: 400px;
    background-color: pink;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

div img {
    height: 70px;
    width: 70px;
}

#container {
    height: 80px;
    width: 400px;
    background-color: aqua;
    display: flex;
    border: 5px red solid;

}

.box {
    height: 70px;
    width: 70px;
    margin: 5px;
    text-align: center;
   
}

#box1 {
    background-color: blue;
}

#box2 {
    background-color: red;
    flex-shrink: 2;
    flex-grow: 1;
}

#box3 {
    background-color: brown;
   }

   #adiv{ height: 50px; width: 50px; background-color: green;}

   @media screen and (min-width: 300px) and (max-width: 400px) {#adiv {
    background-color: red;
}
   
}


@media screen and (min-width: 400px) 
 {#adiv {
    background-color: blue;
}
   
}

